/* General Rules */

* {
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.ChatGPTaBriefRendition {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

body {
    font-size: 1.25rem;
}

main {
    text-align: center;
    font-family: "Kaushan Script", fantasy;
    margin-top: 23vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    padding: 2rem 0 .25rem 0;
}

 /* Navbar Rules */
.navbar {
    width: 100%;
    color: white;
    background-color: #f68700;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 2px black;
    display: flex;
}

.navbar img {
    display: none;
}
  
.dropdown {
    display: flex;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 0 0 1rem;
    color: white;
    font-size: .8em;
    margin-right: .5em;
    text-decoration: none;
}

.dropdown li:nth-child(n+3) {
    display: none;
}

.hamburger-menu-list li:nth-child(n){
    display: inline;
}

.link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.link:hover, .link.active, .link:focus {
    color: rgb(168, 255, 158);
    border-bottom: solid .5rem rgb(168, 255, 158);
    font-weight: 1000;
    text-decoration: none;
}

/* Site logo */
.dropdown .site-logo {
    height: 2em;
    object-fit: cover;
    padding: 0;
    align-items: center;
    display: flex;
}

/* Header and Footer Rules*/

header {
    color: white;
    padding: 1rem 0;
    background-image: url('./components/img/background-cover.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
    text-shadow: 3px 3px 4px black;
}

header p {
    font-style: italic;
    font-size: 1.25rem;
}

footer {
    color: white;
    background-color: #f68700;
    text-shadow: 1px 1px 2px black;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 5px 10px;
    line-height: 1;
}

footer p:last-of-type {
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 12px;
}

/* Homepage */

section.main-content img {
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}

/* About page*/
section.about-caring div.container {
    font-weight: normal;
}

section.about-caring img{
    display:block;
    margin: 0 auto;
    height: 45%;
    width: 45%;
}

section.about-action img {
    display:block;
    margin: 0 auto;
    height: 75%;
    width: 75%;
}

.column-button {
    font-size: 1.35rem;
    text-align: center;
    background-color: #f68700;
    width: auto;
    height: 40px;
    line-height: 35px;
    color: black;
    margin: 20px auto;
    box-shadow: 4px 4px rgba(44, 44, 44, 0.2), -4px 4px rgba(44, 44, 44, 0.2);
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* Discussion Page */
section.search-box-area {
    background-color: #f68700;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
}

section.search-box-area select {
    height: 30px;
    background-color: rgb(229, 229, 229);
}

section.post-area img{
    display:block;
    height: 15%;
    width: 15%;
}

section.post-area a {
    color: black;
}

div.head {
    margin-top: 25px;
}

div.reply button{
    margin-bottom: 50px;
}

div.body div.authors {
    font-size: 20px;
    
}

section.post-area div.container {
    background-color:#f68700;
    outline-style: solid;
    outline-width: 2px;
}

 section.post-area div.content p {
    background-color: #ffc379;
    outline-style: solid;
    outline-width: 1px;
    margin-top: 20px;
}

div.head div.content:first-of-type {
    background-color: rgb(168, 255, 158);
    outline-style: solid;
    outline-width: 1px;
    text-align: center;
    font-size: 25px;
    
}

div.container-submit {
    margin-top: 25px;
    background-color: rgb(168, 255, 158);
    padding: 0 25px 25px 25px;
    outline-style: solid;
    outline-width: 2px;
}
/* Tweets Page*/
.tweetHeader {
    background-color: #f68700;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    text-align: center;
}
.tweetHeader h2 {
    text-decoration: underline solid;
}



@media (min-width: 768px) {
    .navbar img{
        display: inline;
    }
    .navbar li {
        display: inline;
        margin: 0 1rem;
    }
    .dropdown li:nth-child(n+3){
        display: inline;
    }
    nav button, .hamburger-menu-list{
        display:none;
    }

    .button {
        font-size: 1.35rem;
        width: 700px;
        height: 50px;
        line-height: 45px;
    }

    .link {
        font-size: 1.25rem;
    }

    section.main-content img {
        max-width: 75%;
        border-radius: 15px;
        margin: 0 10vw;
    }

    .tweetDisplay {
        display: block;
        margin:0 600vw;
        max-width: 100%;
        
    }
}

@media (min-width: 1200px) {
    .link {
        font-size: 1.75rem;
    }

    .button {
        font-size: 1.50rem;
        width: 900px;
        height: 60px;
        line-height: 55px;
    }

    section.about-caring img{
        display:block;
        margin: 0 auto;
        height: 25%;
        width: 25%;
    }
    
    section.about-action img {
        display:block;
        margin: 0 auto;
        height: 55%;
        width: 55%;
    }

    div.head {
        margin-top: 70px;
    }
}
