* {
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.ChatGPTaBriefRendition {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

body {
    font-size: 1.25rem;
}

main {
    text-align: center;
    font-family: "Kaushan Script", fantasy;
    margin-top: 23vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    padding: 2rem 0 .25rem 0;
}


.navbar {
    width: 100%;
    color: white;
    background-color: #f68700;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 2px black;
    display: flex;
}

.navbar img {
    display: none;
}
  
.dropdown {
    display: flex;
    align-items: center;
}



.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 0 0 1rem;
    color: white;
    font-size: .8em;
    margin-right: .5em;
    text-decoration: none;
}

.dropdown li:nth-child(n+3) {
    display: none;
}

.hamburger-menu-list li:nth-child(n){
    display: inline;
}

.link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.link:hover, .link:active, .link:focus {
    color: rgb(168, 255, 158);
    border-bottom: solid .5rem rgb(168, 255, 158);
    font-weight: 1000;
    text-decoration: none;
}



/* Button */

/* Site logo */
.dropdown .site-logo {
    height: 2em;
    object-fit: cover;
    padding: 0;
    align-items: center;
    display: flex;
}

/* Header */

header {
    color: white;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    padding: 1rem 0;
    background-image: url('./components/img/background-cover.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
    text-shadow: 3px 3px 4px black;
}

header p {
    font-style: italic;
    font-size: 1.25rem;
}

footer {
    color: white;
    background-color: #f68700;
    text-shadow: 1px 1px 2px black;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 5px 10px;
    line-height: 1;
}

footer p:last-of-type {
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 12px;
}

/* Homepage */

section.main-content img {
    height: auto;
    max-width: 100%;
    border-radius: 15px;
}

@media (min-width: 768px) {
    .navbar img{
        display: inline;
    }
    .navbar li {
        display: inline;
        margin: 0 1rem;
    }
    .dropdown li:nth-child(n+3){
        display: inline;
    }
    button, .hamburger-menu-list{
        display:none;
    }

    .link {
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    .link {
        font-size: 1.75rem;
    }
}
