* {
    box-sizing: border-box;
}

body{
    font-family: "Nunito Sans", Arial, sans-serif;
    /* font-size: 16px; */
    font-size: 1.25rem;
}

h1,h2{
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2rem;
}

span.material-icons{
    position: relative;
    top: 5px; 
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

p,dl{
    margin-top:0;
    margin-bottom: 1rem;
}

nav{
    position: fixed;
    width: 100%;
    color: white;
    background-color: #2c96bf;
    padding: .5rem;
    padding-bottom: 1rem;
    top: 0;
    left: 0;
}

nav ul{
    margin: 0;
    padding: 0;

}
nav li{
    display: inline;
    margin: 0 1rem;
}
nav a{
    color: white;
    font-size: 1.25em;
    margin-right: .5em;
    text-decoration: none;
}


header{
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/paul-gilmore-145802-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}
header p{
    font-style: italic;
    font-size: 1.25rem;
}
section#menu{
    background-color: #f0f0f0;
}

section#menu dt{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

section#menu dd{
    margin:0;
}
section#menu img{
    height: 700px;
    border-radius: 15px;
}

section#about{
    background-color: #e0e0e0;
    line-height: 1.5;
}

footer{
    color: white;
    background-color: #3e1305;
}
footer a{
    color: white;
    text-decoration: none;
}

footer p{
    margin: 0;
    line-height: 1.25;
}

footer p:last-of-type{
    padding-top: 8px;
}

nav a:hover, nav a:active, nav a:focus  { /*issues here*/
    color:#f0f0f0;
    border-bottom: solid .8rem #f0f0f0;
}