* {
    box-sizing: border-box;
}

body{
    font-family: "Nunito Sans", Arial, sans-serif;
    /* font-size: 16px; */
    font-size: 1.25rem;
}

h1,h2{
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2rem;
}

span.material-icons{
    position: relative;
    top: 5px; 
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

p, dl{
    margin-top:0;
    margin-bottom: 1rem;
}

nav{
    position: fixed;
    width: 100%;
    color: white;
    background-color: #f68700;
    padding: .5rem;
    padding-bottom: 1rem;
    top: 0;
    left: 0;
}

nav ul{
    margin: 0;
    padding: 0 0 .5rem 0;  
}

nav img{
    padding: 0 1rem 0 2.25rem;
    margin-top: .5rem;
}

nav li{
    display: inline;
    margin: 0 1rem;
}
nav a{
    color: white;
    font-size: 1.25em;
    margin-right: .5em;
    text-decoration: none;
}


header{
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-image: url('../img/background-cover.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

header p{
    font-style: italic;
    font-size: 1.25rem;
}

main img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

p.credit{
    font-size: 16px;
    text-align: center;
}

section#menu{
    background-color: #f0f0f0;
}

section#menu dt{
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

section#menu dd{
    margin:0;
}
section#menu img{
    height: 700px;
    border-radius: 15px;
}

section#about-caring, section#about-action{
    background-color: #ffeee1;
    line-height: 1.5;
}
section#about-infrastructures{
    background-image: linear-gradient(rgb(168, 255, 158), rgb(159, 239, 255));
    line-height: 1.5;
}

.button{
    text-align:center;
    background-color:#f68700;
    width:900px;
    height:60px;
    line-height:60px;
    color:white;
    margin:20px auto;
    box-shadow: 4px 4px rgba(44, 44, 44, 0.2), -4px 4px rgba(44, 44, 44, 0.2);
    border-radius: 12px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

footer{
    color: white;
    background-color: #3e1305;
}
footer a{
    color: white;
    text-decoration: none;
}

footer p{
    margin: 0;
    line-height: 1.25;
}

footer p:last-of-type{
    padding-top: 8px;
}

nav li a:hover, nav li a:active, nav li a:focus  { 
    color:rgb(168, 255, 158);
    border-bottom: solid .8rem rgb(168, 255, 158);
    font-weight: 1000;
}



